<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>

    <div class="h-[100vh] w-[100vw] ">
        <div class="w-[100vw] h-[70px] bg-blue-700 flex">
            <div class="  text-3xl text-white ml-[20%] pt-[12px] font-semibold">
                Great Quotes
            </div>

            <div class="flex ml
            "> 
            <!-- DFNKDSNFJK -->
                <a href="/" class="te">
                    All Quotes
                </a>

                <!-- KHDSHFJKDS -->
                <a href="/comment/new" class="">
                    <!-- BJHSKDJHSAJKFC` -->
                    New Quotes
                </a>
            </div>
            
        </div>

        <div class="g">

            
            <!-- DSHFJKDSKJFHDS -->
            <form class="  " action="/comments" method="POST">
                <div class="">
                    
                    <label for="user" class="">Author:</label>
                    <input class="w-[300px] opacity-30 bg-white" type="text" name="username" id="user">
                    

                    <!-- SAHDFIHS -->
                    <label for="user" class="te">Quotes:</label>
                    <textarea rows="3" cols="10" placeholder="Write here..." class="e" type="text" name="comment" id="user"></textarea>
                    
                    <button class="b120px]" type="submit">Add Quotes</button>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>